{% include 'header.html' %}

<body>

  <div class="px-4 py-5 my-5 text-center">
    <!-- <img class="d-block mx-auto mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="display-5 fw-bold title">Lab Results Finder</h1>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{ url_for('search') }}">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Search Patient</button>
        </a>
      </div>
    </div>
  </div>

</body>

</html>